.text {
  font-family: "Uni Sans", sans-serif;
  font-size: 60px;
  color: white;
  padding: 15px;
  position: relative;
  vertical-align: bottom;
  bottom: -275px;
}
body {
  background: #d3cce3;
  background: linear-gradient(to right, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}