body {
  background-color: #c3cedf;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  color: #2d394b;
}
.head {
  font-size: 70px;
  position: relative;
  vertical-align:bottom;
  bottom: -200px;
}
ion-icon {
  font-size: 44px;
  padding: 24px;
  position: relative;
  vertical-align:bottom;
  bottom: -250px;
}
a:link, a:visited {
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  cursor: pointer;
}
