body {
  background-image: url("https://global.shakenbird.repl.co/assets/blurry-gradient-haikei.svg");
  background-size: cover;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: white;
}
@supports (-webkit-text-stroke: 1px black) {
  head {
  -webkit-text-stroke: 2.5px #2d394b;
  -webkit-text-fill-color: #ffffff;
  font-size: 90px;
  position: relative;
  bottom: -200px;
  vertical-align:bottom;
  }
}
