body {
  background-color: #c3cedf;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  color: #2d394b;
}

.head {
  font-size: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  position: relative;
  display: block;
  top: 25vh;
  z-index: 999;
}
ion-icon {
  font-size: 44px;
  position: relative;
  vertical-align:bottom;
  margin: auto;
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.b {
  margin-right: 24px;
}
.b1 {
  margin-left: 24px;
}
a, a:focus, a:active, a:hover {
      text-decoration: none;
      color: #2d394b;
 }
 @media only screen and (max-width: 600px) {
   .head {
     font-size: 50px;
   }
   ion-icon {
     font-size: 34px;
   }
 }
