/* begin article utilities */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  background-color: white;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  color: #2d394b;
  font-size: 14px;
  bottom: -20px;
  transition-duration:0.3s;
}
.body {
  background-size: cover;
}
.head {
  font-size: 35px;
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
  text-align: left;
  display: block;
  top: 7vh;
  z-index: 999;
}

.author {
  text-align: left;
  font-size: 20px;
  color:#566275;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
  display: block;
  top: 4vh;
}
hr.rounded {
  border-top: 2px solid #2d394b;
  border-radius: 5px;
  margin-left: 250px;
  margin-right: 250px;
  position: relative;
  display: block;
  top: 2.5vh;
}

ion-icon {
  align-items: left;
  font-size: 25px;
  margin: 10px;
  position: relative;
  display: inline-block;
  top: 4vh;
  cursor: pointer;
  padding:5px;
  transition-duration: 0.35s
}
ion-icon:hover {
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.35);
}

a {
  text-decoration: none;
  color: #197bff;
  cursor: pointer;
  transition-duration: 0.4s;
}
a:hover {
  color: #66a8ff;
}

h2 {
  font-size: 30px;
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
  text-align: left;
  display: block;
  top: 4vh;
  z-index: 999;
}

.mobile {
  display: none;
}

p2 {
  text-indent: 20px;
  font-size: 18px;
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
  text-align: left;
  display: block;
  top: 3vh;
  z-index: 999;
}
.ion-link {
  margin-left: 250px;
}
.ion-arrow {
  margin-left: 250px;
  position: relative;
  top: 9vh;
  display: inline-block;
}
.danger {
  position: relative;
  top: 5vh;
  background-color: #e6edff;
  border-left: 6px solid #3669f4;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid #3669f4;
  border-right: 2px solid #3669f4;
  border-bottom: 2px solid #3669f4;
  border-radius: 5px;
}
.ion-tags {
  font-size: 16px;
  align-items: left;
  position: relative;
  display: inline-block;
  top: 0vh;
  cursor: default;
  padding-left: 10px;
}
.tags {
  position: relative;
  top: 5vh;
  background-color: #ffffff;
  border-left: 6px solid #d1d1d1;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid #d1d1d1;
  border-right: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
  border-radius: 5px;
}
p3 {
  font-size: 22px;
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
  text-align: left;
  display: block;
  top: 2.25vh;
  z-index: 999;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}
code {
  font-size: 16px;
  background-color: #d6d6d6;
  border-radius: 4px;
  padding: 2px;
}

blockquote {
  border-left: 6px solid #aaaaaa;
  padding-left: 10px;
  border-radius: 4px;
}
cb {
  background-color: #d6d6d6;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  padding: 6px;
}

img {
  border-radius: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
  max-width: 100%;
  min-width: 75%;
  height: auto;
  image-rendering: smooth;
}
.post {
  font-size: 15px;
  padding-left: 250px;
  position: relative;
  text-align: left;
  display: block;
  align-items: center;
  top: 1.5vh;
}
.moon-icon {
  margin-right:20px;
  float:right;
}
.sun-icon {
  display: none;
}
/* begin theme toggler */
.dark {
  background-color: #34323D;
  color: #fff;
}
.danger-dark {
  background-color: rgba(87, 129, 255, 0.3)
}
.light-icon {
  display: none;
}
.dark-icon {
  display: block;
  position: relative;
  margin-right:20px;
  float:right;
}
.discord {
  color: inherit;
}
.img-dark {
  box-shadow: 10px 10px 5px #707070;
}
.dark-a {
  color: #80b7ff;
}
.dark-author {
  color: #d6d6d6;
}
/* Begin media queries */

 @media only screen and (max-width: 1200px) {
  .head, .author, h2, p2, p3, .post {
    padding-left: 120px;
    padding-right: 120px;
  }
  hr.rounded, .danger {
    margin-left: 120px;
    margin-right: 120px;
  }
  .ion-link, .ion-arrow {
    margin-left: 120px;
  }
 }
 @media only screen and (max-width: 1000px) {
  .head, .author, h2, p2, p3, .post {
    padding-left: 75px;
    padding-right: 75px;
  }
  hr.rounded, .danger {
    margin-left: 75px;
    margin-right: 75px;
  }
  .ion-link, .ion-arrow {
    margin-left: 75px;
  }
 }
 @media only screen and (max-width: 800px) {
  .head, .author, h2, p2, p3, .post {
    padding-left: 20px;
    padding-right: 20px;
  }
  hr.rounded, .danger {
    margin-left: 20px;
    margin-right: 20px;
  }
  .ion-link, .ion-arrow {
    margin-left: 20px;
  }
 }
 @media only screen and (max-width: 490px) {
   .head, .author, hr.rounded, ion-icon, h2, p2, .danger, p3, .ion-arrow, .post {
     display: none;
   }
   .mobile {
     display: block;
     font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    text-align: center;
    display: block;
    top: 30vh;
    z-index: 999;
   }
 }
